.footer-container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bg-blue {
  /* background-color: rgb(87, 147, 254); */
  background-color: rgb(58, 134, 180);
}

.text-secondary-blue {
  color: rgba(34, 58, 73, 0.774);
}
